body{
    background-color: #f5f5f5;
    background-image: url("/public/images/Dream-Beach-Club.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

nav{
    float: left;
    text-align: left;
}

.PSbuttons {
    position: absolute; top: 3vh; left: 12vw;
    display: flex;
    flex-direction: row;

}

.bartenderBtn {
    position: absolute; left: 90px; top: 100px;

}

.drinkBtn {
    position: absolute; left: 50px; top: 200px;
}

.playButton {
    transition: transform 250ms ease-in-out, opacity 250ms linear;
    border: none;
    background: transparent;
}
.pauseButton {
    transition: transform 250ms ease-in-out, opacity 250ms linear;
    border: none;
    background: transparent;
}

.playBtn:hover,
.playBtn:focus {
    transform: scale(1.0);
    opacity: .75;
}

.pauseBtn:hover,
.pauseBtn:focus {
    transform: scale(1.0);
    opacity: .75;
}


.leftNav {
    position: absolute;
    left: 1;
    height: 10vh;
    width: 10vw;
    background-color: transparent;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
form input {
    margin-top: .5rem;
    border: none;
    align-items: center;
    appearance: none;
    background-color: #9a9a9a;
    border-radius: 2px;
    border-width: 0;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    height: 25px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    /* position: absolute; top: 0vh; */
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 16px;
}

form input:focus {
    box-shadow: #d3d3d3 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

form input:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

form input:active {
    box-shadow: #9a9a9a 0 3px 7px inset;
    transform: translateY(2px);
}

.windowDrinkEvent {
    position: absolute; top: 20vh;
}

/* .control-panel {
position:absolute;
top: 130px;
left: 200px;
opacity: 0.7;
} */