* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-image: url("/images/Dream-Beach-Club.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    /* background-size: 100%; */
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    position: relative;
}


.soundtracks {
    position: absolute; left: 1vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    top: 50vh;
}

.soundtracks .audio-info {
    color: #36395A;
    text-align: center;
    text-shadow: 1px 1px 2px #FCFCFD, 0 0 1em #36395A, 0 0 0.2em #36395A;
}

/* For the Black play/stop buttons at the top right*/
.PSbuttons {
    position: absolute; 
    top: 3vh;
    right: 3vw;
    display: flex;
    flex-direction: row;
}

.playButton {
    transition: transform 250ms ease-in-out, opacity 250ms linear;
    border: none;
    background: transparent;
}

.pauseBackgroundButton {
    transition: transform 250ms ease-in-out, opacity 250ms linear;
    border: none;
    background: transparent;
}

.playButton:hover,
.playButton:focus {
    transform: scale(1.1);
    opacity: .8;
}

.pauseBackgroundButton:hover,
.pauseBackgroundButton:focus {
    transform: scale(1.1);
    opacity: .8;
}




.leftNav {
    position: absolute;
    
    height: 10vh;
    width: 10vw;
    background-color: transparent;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form input {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border: none;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

form input:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

form input:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

form input:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}







  /* Popup Menu */

.popup {
    position: absolute; top: 22vh;
    display: flex;
    cursor: pointer;
  }
  

  .popup .popuptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1vh 1vw 1vh 1vw;
    position: absolute;
    z-index: 1;
    bottom: -400%;
    /* left: 50%; */
    /* margin-left: -80px; */
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* As per interaction button */
/* Uncomment/comment the "opacity: 0; to make the white images invisible */
.wavesBtn {
    /* width: 60px;
    height: 40px; */
    display:block;
    position: absolute; left: 0vw; top: 34vh;
    cursor:pointer;
    opacity: 0;
}


.bartenderBtn {
    /* width: 60px;
    height: 60px; */
    display:block;
    position: absolute; left: 91vw; top: 30vh;
    opacity: 0;
    cursor:pointer;
}


.vodkaCokeBtn {
    /* width: 60px;
    height: 60px; */
    display:block;
    position: absolute; left: 68.5vw; top: 31vh;
    opacity: 0;
    cursor:pointer;
}


.champagneBtn {
    /* width: 60px;
    height: 60px; */
    display:block;
    position: absolute; left: 81.5vw; top: 64vh;
    opacity: 0;
    cursor:pointer;
}


.sodaBtn {
    /* width: 60px;
    height: 60px; */
    display:block;
    position: absolute; left: 71vw; top: 77vh;
    opacity: 0;
    cursor:pointer;
}


.beerBtn {
    /* width: 60px;
    height: 60px; */
    display:block;
    position: absolute; left: 55vw; top: 28vh;
    opacity: 0;
    cursor:pointer;
}

.shotBtn {
    /* width: 60px;
    height: 60px; */
    display:block;
    position: absolute; left: 40vw; top: 58vh;
    opacity: 0;
    cursor:pointer;
}

.blueDrinkBtn {
    /* width: 60px;
    height: 60px; */
    display:block;
    position: absolute; left: 52vw; top: 52vh;
    opacity: 0;
    cursor:pointer;
}

.redDrinkBtn {
    /* width: 60px;
    height: 60px; */
    display:block;
    position: absolute; left: 56vw; top: 70.5vh;
    opacity: 0;
    cursor:pointer;
}

.wineBtn {
    /* width: 60px;
    height: 60px; */
    display:block;
    position: absolute; left: 63vw; top: 60vh;
    opacity: 0;
    cursor:pointer;
}

/* drinks menu */
div#drinkMenu,
div#vodka {
    height: 70%;
    width: 0;
    position: fixed; 
    z-index: 1; /* Stay on top */
    top: 15vh; /* Stay at the top */
    right: 25vw;
    /* background-color: #FFF; */
    opacity: 0.9;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: auto;
    padding-top: 90px; /* Place content 60px from the top */
    transition: 0.5s;
    background: url('/images/drinkmenu.png');
    background-size: cover;
}

#drinkMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
  }
